.dancing-script {
    font-family: 'Dancing Script', cursive;
}
#introcontainer {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    font-size: 4rem;
    text-align: center;
}

#center {
}

#carouselExampleDark {
   
    padding-top: 5em;
  }

.carousel-item {
    height: 25rem;
    background:gray;
    color: black;            
    position: relative;
}

.container {
    position: absolute;
    bottom: 50px;
    top: 50px;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    font-size: 10rem;
}

.x {
    padding-top: 20px;
    padding-bottom: 50px;
    max-height: 100%;
    width:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h5 {
  font-size: 1rem;
  color: black;
  margin-bottom: -20px;
}
.rentsign {
  padding-top: 65px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
            
}
.specs {
  font-size: .75rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.address {
  font-size: .75rem;
  color: black;
  text-align: center;
}

body{
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    }

    #wrapper {
        margin: auto;
        width: 90%;
    }